header.iotw
	section.title
		a.home-link(ui-sref="taic.home")
		div
			span Sharing Astro Imaging
			br
			span Tips and Techniques
	section.banner
		div.winner-overlay
			span.image-title {{ winner.imageTitle }}
			span &nbsp;by&nbsp;
			span.winner {{ winner.winnerName }}
