doctype html
html(lang="en" ng-app="taic" ng-strict-di)
	head
		title The Astro Imaging Channel
		meta(charset="UTF-8")
		base(href="/")
		// bower:css
		// endbower
		link(href="http://fonts.googleapis.com/css?family=Lato&subset=latin,latin-ext" rel="stylesheet" type="text/css")
		link(href="taic.css" rel="stylesheet" type="text/css")
	body(ng-controller="taicCtrl" ng-cloak)
		div.main-container
			ui-view
		// bower:js
		// endbower
		script(src="taic.js")
