{
	"development": {
		"baseUrl": "http://localhost:8789/",
        "api": {
            "path": "api/",
            "timeout": "300"
        }
	},
    "production": {
        "baseUrl": "http://theastroimagingchannel.com/",
        "api": {
            "path": "api/",
            "timeout": "30"
        }
    }
}